.btnGreen{
    -fx-background-color:  #3cbc53;
}

.background{
    -fx-background-color: DODGERBLUE;
}

.adminPanelLabel {
    -fx-font-size: 50;
    -fx-font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    -fx-text-fill: white;
}

.adminPanelButton {
    -fx-padding: 5;
    -fx-border-radius: 20;
    -fx-min-width: 200;
    -fx-min-height: 50;
    -fx-font-size: 15;
    -fx-background-color: crimson;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.adminPanelButton:hover {
    -fx-text-fill: aquamarine;
}

.moviesLabel {
    -fx-background-color: darkslategray;
    -fx-background-radius: 32;
    -fx-padding: 10;
    -fx-border-radius: 30;
    -fx-border-style: solid;
    -fx-border-width: 5;
    -fx-border-color: white;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.moviesButton {
    -fx-background-color: darkslategray;
    -fx-padding: 5;
    -fx-background-radius: 16;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-pref-width: 100;
    -fx-pref-height: 50;
}